<h1 id="trackmedapp">TRACKMEDAPP</h1>
<p>Track me is a Django REST API that allows users to track their to-do lists. It has the following features:</p>
<ul>
<li>CRUD functions for task entity</li>
<li>Marking task as completed</li>
<li>Single page application</li>
<li>Rest framework</li>
</ul>

<h1 id="test">Test</h1>
<p>Test this APIs through <a href="https://www.getpostman.com/">Postman</a>,</p>

<h1 id="apis">APIs</h1>
<table>
<thead>
<tr class="header">
<th align="left">URL</th>
<th align="left">Method</th>
<th align="left">Response (JSON format)</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">/api/v1/items</td>
<td align="left">GET</td>
<td align="left">Get all task in the database</td>
</tr>
<tr class="even">
<td align="left">/api/v1/items</td>
<td align="left">POST</td>
<td align="left">Create a new task</td>
</tr>
<tr class="odd">
<td align="left">/api/v1/items/:id</td>
<td align="left">PUT</td>
<td align="left">Edit an existing task</td>
</tr>
<tr class="even">
<td align="left">/api/v1/items/:id</td>
<td align="left">DELETE</td>
<td align="left">Delete an task</td>
</tr>
</tbody>
</table>

<h1 id="to-be-improved">To Be Improved</h1>
<ul>
<li>UI enhancement (e.g. calendar)</li>
<li>User registration and permissions</li>
<li>Write test cases</li>
</ul>
